name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set node
        uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - name: Setup
        run: npm i -g pnpm@9

      - name: Install
        run: pnpm i

      - name: Lint
        run: pnpm run lint

      - name: Typecheck
        run: pnpm run typecheck

      - name: Test
        run: |
          pnpm exec playwright install chromium
          pnpm run test
